<!DOCTYPE html>
<html>
<head>
    <title>Goembed</title>
    <link rel="stylesheet" type="text/css" href="http://getskeleton.com/dist/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://getskeleton.com/dist/css/skeleton.css">
    <script src="//code.jquery.com/jquery-2.0.3.js"></script>
    <script type="text/javascript">
        $(function() {
            $('form').submit(function(e) {
                e.preventDefault();
                $.post("/embed", {url: $('#url').val()});
            });
        }); 
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h1>Goembed</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <form action="/embed" method="POST">
                    <label for="url">Url</label>
                    <input class="u-full-width" type="text" name="url" id="url" autofocus>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>

