<!DOCTYPE html>
<html>
<head>
    <title>Goembed</title>
    <link rel="stylesheet" type="text/css" href="http://getskeleton.com/dist/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://getskeleton.com/dist/css/skeleton.css">
    <script src="//code.jquery.com/jquery-2.0.3.js"></script>
    <script src="http://rawgit.com/davatron5000/FitVids.js/master/jquery.fitvids.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.video').fitVids();
            $('form').submit(function(e) {
                e.preventDefault();
                $.post("/embed", {url: $('#url').val()}, function(resp) {
                    resp = JSON.parse(resp);
                    var url = resp.ProviderURL + resp.URI;
                    var duplicate = false;
                    $('.video').each(function(){
                        var identifier = $(this).data('url');
                        if (identifier == url) {
                            duplicate = true;
                        }
                    });
                    if (duplicate === false) {
                        $('.output').html(resp.html).fitVids();
                    }
                });
            });
        });
    </script>
    <style type="text/css">
        iframe {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h1>Goembed</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <form action="/embed" method="POST">
                    <label for="url">Url</label>
                    <input class="u-full-width" type="text" name="url" id="url" autofocus>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve video output">
            </div>
        </div>
        {{range .}}
        <div class="row">
            <div 
                class="columns video twelve" 
                data-url="{{.ProviderURL}}{{.URI}}"
            >
              {{.RawHTML}}
            </div>
        </div>
        {{end}}
    </div>
</body>
</html>

