<!DOCTYPE html>
<html>
<head>
    <title>Goembed</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h1>Goembed</h1>
            </div>
        </div>
        <div class="row">
            <form for="/" method="POST">
                <div class="columns six">
                    <label></label>
                    <input type="text">
                </div>
                <div class="columns six">
                    <input type="text">
                </div>                
            </form>
        </div>
    </div>
</body>
</html>